*{

    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
img{
    width: ;
}
.hero_section{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background: url(images/BG.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.hero_section h1{
    font-weight: 600;
    color: white;
    font-size: 45px;
    padding: 10px;
}
button{
    color: white;
    margin: auto;
    padding:20px 70px;
    border-radius: 40px;
    font-size: 30px;
    font-weight: 700;
    margin-top: 410px;
    background-color: aquamarine;
    box-shadow: 2px 2px 10px black;
}